html {}

* {
    cursor: default;
    outline: none;
}

footer .icon {
    margin: 15px;
}

.tipeee {
    margin-bottom: 10px;
}

.tipeee-logo {
    margin-left: auto;
    margin-right: auto;
    width: 128px;
}

.section_navigation .hero-body {
  height: calc(100vh - 90px);
  overflow: auto;
}

footer {
    height: 80px;
    margin-top: 10px;
}



.planche {
    margin-bottom: 10px;
}


.lecture-navigation .icon {
    margin: 15px;
}


/*! debug.css | MIT License | zaydek.github.com/debug.css */
/*
*:not(path):not(g) {
	color:                    hsla(210, 100%, 100%, 0.9) !important;
	background:               hsla(210, 100%,  50%, 0.5) !important;
	outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

	box-shadow: none !important;
}
