html {}

* {
    cursor: default;
    outline: none;
}

footer .image {
    margin:5px;
    cursor: pointer;
}

footer img {
    border-radius: 10px;
}

.chapitre {
    border-radius: 10px;
}

.modal-content {
    width: 80%;
    height: 90%;
}

footer .icon {
    margin: 15px;
}

.tipeee {
    margin-top: 75px;
    margin-bottom: 75px;
}
/*! debug.css | MIT License | zaydek.github.com/debug.css */
/*
*:not(path):not(g) {
	color:                    hsla(210, 100%, 100%, 0.9) !important;
	background:               hsla(210, 100%,  50%, 0.5) !important;
	outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

	box-shadow: none !important;
}
